<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingreso de Cuentas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-select label="Tipo Cuota" placeholder="Ej: Macro">
        <ion-select-option value="apple">Naranja</ion-select-option>
        <ion-select-option value="banana">Macro</ion-select-option>
        <ion-select-option value="orange">Mercado Credito</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Nro de Cuotas" placeholder="1 a 12" type="number">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Descripcion"
        placeholder="Breve descripcion..."
        type="text"
      >
      </ion-input>
    </ion-item>
  </ion-list>
  <div class="flex justify-content-center">
    <ion-button expand="full" type="submit" style="width: 40%">
      Send Cuenta
    </ion-button>
  </div>
</ion-content>
