.sueldo {
  color: white !important;
  font-size: large !important;
}

.icon {
  color: grey;
}

.dolar {
  font-size: small;
  color: black;
  background-color: white;
  padding: 0.2rem;
  border-radius: 50px;
}

.total {
  text-align: right;
  margin-right: 16px;
}

.cuentas {
  text-align: center;
  margin-right: 15px;
}

.sobrante {
  text-align: center;
  margin-right: 35px;
}

.totalSobrante {
  text-align: center;
  margin-left: 20px;
}

